
<div id="map"></div>

<script type="text/javascript">
		var cloudmadeUrl = 'http://{s}.tile.cloudmade.com/83d9fa1fca774c898ac46594d1e6a72b/997/256/{z}/{x}/{y}.png',
			cloudmadeAttribution = 'Map data &copy; 2011 OpenStreetMap contributors, Imagery &copy; 2011 CloudMade, Points &copy 2012 LINZ',
			cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 17, attribution: cloudmadeAttribution}),
			latlng = new L.LatLng(-37.82, 175.24);
		var map = new L.Map('map', {center: latlng, zoom: 13, layers: [cloudmade]});

<%= render "markers" %>
</script>

<div class="container">
	<div class="row">
		<div class="span6">
			<h2>Query: </h2> <%= params[:query] %>
		</div>
		<div class="span3">
			<h2>Rows: </h2> <%= params[:rows] %>
		</div>
		<div class="span3">
			<h2>Orphan docs: </h2> <%= @otherTopics.count %>
		</div>
	</div>
	<div class="row">
		<div class="span6">
			<h2>Title: </h2> <%= params[:title] %>
		</div>
		<div class="span6">
			<h2>Snippet: </h2> <%= params[:snippet] %>
		</div>
	</div>
</div>




